Wikipedia-API~=0.7.1
torch~=2.5.1
transformers~=4.46.1
networkx~=3.4.2
matplotlib~=3.9.3
tiktoken~=0.8.0
spacy~=3.8.3
fuzzywuzzy~=0.18.0
openai~=1.52.2
requests~=2.32.3
beautifulsoup4~=4.12.3
python-dotenv~=1.0.1
sentence-transformers~=3.2.1
pandas~=2.2.3
nltk~=3.9.1
tqdm~=4.66.5